p.theQuestion{
	color: blue;
	font-size: 250%;
	font-family: "acme";
}

button.theButton{
	font-size: 200%;
    font-family: acme;
    border-radius: 10px;
    color: black;
    width: 15%;
    width: 80%;
}


img.america_centro{display: none;border:1px solid}
img.america_sur{display: none;border:1px solid}


select{
   font-size: 200%;
	font-family: acme;
   border-radius: 10px;
   width: 80%;
}


* {
    box-sizing: border-box;
}


.theQuestion{
	color: white;
	font-size: 300%;
	float: center;
	text-align: center;
	width: 700px;
    /*border-radius: 15px;*/
    background: black;
    /*padding: 20px;*/
    /*display: none*/
}

.theImage {
	position: relative;
    text-align: center;
	float: left;
	width: 70%;
	font-family: 'Architects Daughter';
    border-radius: 10px;
    padding: 1px;
}

.myLocation{
	color: #1A5276;
    position: absolute;
    font-size: 300%;
    /*top: 20%;
    left: 60%;*/
    transform: translate(-50%, -50%);
    /*display: none*/
}

.myFails{
	color: #943126;
    position: absolute;
    font-size: 200%;
    /*top: 80%;
    left: 30%;*/
    transform: translate(-50%, -50%);
    /*display: none*/
}


.theMenu {
	float: left;
	width: 30%;
	text-align: center;
	font-family: 'Architects Daughter';
	font-size: 100%;
    border-radius: 10px;
    padding: 1px;

}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 1000px) {
    .theImage, .theMenu, .void {width: 100%; text-align: center;}
    .title {width: 100%}
    p.Pregunta{font-size: 350%;}
    p.Respuesta{font-size: 350%;}
    p.enLosBotones{font-size: 250%;}
    button{font-size: 250%; width:50%}
    button.theButton{font-size: 300%;width: 50%}
    button.botonAzul{font-size: 600%;width: 25%}
    select{font-size: 250%;width:80%}

}
