
@font-face {
	font-family: "Ubuntu";
	src: url(./myFonts/Ubuntu-Regular.ttf) format("truetype");
}

body{
	background: #80d6ff;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

*{box-sizing: border-box;}

red{color: red;}
gray{color: gray;}

.optionsBar{
	float: left;
	width: 100%;
    //padding: 10px;
    //border: solid;
}

.mainOption_,
.subOption_{
	float: left;
	width: 40%;
    padding: 5px;
    //border: solid;
}

.start_{
	float: left;
	width: 20%;
    padding: 5px;
    //border: solid;
}

.mainOption,
.subOption{
	float: left;
	width: 100%;
	text-align: center;
	padding: 10px;
	font-family: "Ubuntu";
	font-size: 200%;
	font-weight: bold;
	background: #42a5f5;
}

.start{
	float: left;
	width: 100%;
	text-align: center;
	padding: 10px;
	font-family: "Ubuntu";
	font-size: 200%;
	font-weight: bold;
	background: #0077c2;
	color: white;
}

.mainOption:hover {background-color: #ec407a;color: white; cursor: pointer;}
.mainOption:active {background-color: #ffa0c0; color: black;}
.subOption:hover {background-color: #ec407a;color: white; cursor: pointer;}
.subOption:active {background-color: #ffa0c0; color: black;}
.start:hover {background-color: #ec407a;color: white; cursor: pointer;}
.start:active {background-color: #ffa0c0; color: black;}

.flashCard{
	float: left;
	width: 100%;
	padding: 50px;
    //border: solid;
    display: none;
}

.flashCardQuestion{
	float: left;
	width: 100%;
	text-align: center;
	font-family: "Ubuntu";
	font-size: 200%;
	//font-weight: bold;
	display: none;
	padding: 50px;
	border: solid;
	background: #F2EDBA;
	border-radius: 25px;
}

.flashCardAnswer{
	float: left;
	width: 100%;
	text-align: center;
	font-family: "Ubuntu";
	font-size: 200%;
	//font-weight: bold;
	padding: 50px;
	display: none;
	border: solid;
	background: #F2EDBA;
	border-radius: 25px;
}


.flashCardAnswer:hover {cursor: pointer;}
.flashCardQuestion:hover {cursor: pointer;}








